table{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: black 4px;
}
article>h2{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
}
tr>td:nth-child(2n) {
    background: rgba(0, 0, 255, 0.644);
    color: white;
}
tr>td:nth-child(2n+1) {
    background: rgba(255, 0, 0, 0.644);
    color: white;
}
thead{
    background: rgba(0, 0, 0, 0.849);
    color: white;
}