.rojo{
    background: blue;
}
.rojo:hover{
    background:white;
}
.azul:hover{
    background:white;
}
#cabeza{
    background: rgba(243, 145, 34, 0.918);
    border:dotted black;
}
#cabeza:hover{
    background: white;
}
#titulo{
    background: rgb(99, 7, 136);
}
table{
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
}